*{
    background-color: #EEEEEE;
}

#tittle{
    color: #FC4F4F;
    text-align: center;
    font-size: 40px;
}
.main p{
    text-align: center;
    font-size: 16px;
}
#img-div{
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 15px;
}
#image{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#img-caption{
    margin: auto;
    display: block;
    background-color: white;
    font-size: 18px;

}
h2{
    text-align: center;

}

ul li:nth-child(1){
    list-style: none;
}
ul{
    font-size: 16px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

li{
    font-size: 18px;
    margin-bottom: 10px;
}

.mencion{
    width: 50%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    
}
.link{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;

}
.link #tribute-link{color: #F76E11;}
#hola{
    z-index: 100;
    position: absolute;
    right: 0;
    margin-top: 5px;
    list-style: none;
}

#hola a{
    
    margin-right: 20px;
    color: #bdbdbd;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration:  none;
    color: #bdbdbd;
}

#hola a:hover{
    color: #7a7a7a;
}
